<!DOCTYPE html>	
	<html>
		<head>
			<meta charset="UTF-8">
			<title>
				Queue Videos
			</title>
			<link rel="stylesheet" type="text/css" href="howToStylePages.css"></link>
		</head>
		<body>
			<div class="titleBar">
				<h1>YouTube API How-To Guide</h1>
				<ul id="titleMenu">
					<li><a href="issues.html">Common issues</a></li>
					<li><a href="embed.html">Embed a YouTube player</a></li>
					<li><a href="../howTo/howTo.html">Home page</a></li>
					<li><a href="playback.html">Playback functions</a></li>
					<li><a href="queue.html">Queuing functions</a></li>
				</ul>
			</div>		
			<p>
				Before you can play a YouTube video on your web page, you must first queue it.  The YouTube
				API includes functionality to allow you to queue a single video, a playlist, or even search
				results.  Below are a few of the functions that will help you do this.
				</br>
			</p>
				<h2>Single Video</h2>
			<p>
				Queuing functions are used to individual videos or playlists.  This comes in handy when you have
				more than one video that you would like to show on the same player.  There are two different syntax
				options for doing this, argument and object, each of which will be explored.
			</p>
			<p>
				The argument syntax requires that the arguments be listed in a perticular order.  Whereas the object
				syntax allows you to pass an opject as a single perameter, and define it as you wish. 
				To illistrate this point, let's take a look at the <code>cueVideoById</code> function.
				</br>
				<ul id="indent">
					<li><h4>Argument syntax</h4>
						<code>player.cueVideoById(videoId:String,</br>
												startSeconds:Number,</br>
												suggestedQuality:String):Void</code></br></br>
					Everything that gets passed in is a seperate argument and must be previously assigned to a variable
					or defined during the function call.  For example, <code>videoId</code> is of the type string and must either be
					entered as <code>"ABC123"</code> or assigned to a variable which is then passed as an argument.</li>
					<li><h4>Object syntax</h4>
						<code>player.cueVideoById({videoId:String,</br>
													startSeconds:Number,</br>
													endSeconds:Numer,</br>
													suggestedQuality:String}):Void</code></br></br>
					With object syntax, one object is passed in with a number of name:value pairs defined upon calling the
					function.  In this version, <code>videoId</code> is passed by <code>"videoId: ABC123"</code>.</li>
				</ul>
				<div id="citationIndent">Code above credit https://developers.google.com/youtube/iframe_api_reference</div>
			</p>
			<p>
				Now that we have talked about the differences of the syntax, let's look at the actual arguments/objects.
				<ul id="indent">
					<li><code>videoId</code> is the unique identifier of the video that is to be played.</li>
					<li><code>startSeconds</code> is an optional parameter that will accept either a float or an integer.
					It specifies the time at which the video will start playing.  For instance, if <code>startSeconds=5</code>
					then the video would start playing at 5 seconds into the playtime.</li>
					<li><code>endSeconds</code> is another optional parameter that is similar to <code>startSeconds</code>.
					The difference is <code>endSeconds</code> will specify the time the video will stop playing.</li>
					<li><code>suggestedQuality</code> is also optional and will set the video quality of the playback.</li>
				</ul>
			</p>
			<p>
				The <code>cueVideoById</code> function does not play the video, but it loads the thumbnail and prepares
				player.  The player will then wait until <code>playVideo()</code> or <code>seekTo()</code> is called. 
				The <code>loadVideoByID</code> function however, will load and play the video without any outside function
				calls.  The <code>loadVideoByID</code> syntax is as follows:
			</p>
			<ul id="indent">
				<li><h4>Argument syntax</h4>
					<code>player.loadVideoById(videoId:String,</br>
												startSeconds:Number,</br>
												suggestedQuality:String):Void</code></br></li>
				<li><h4>Object syntax</h4>
					<code>player.loadVideoById({videoId:String,</br>
												startSeconds:Number,</br>
												endSeconds:Numer,</br>
												suggestedQuality:String}):Void</code></li></br>
			</ul>
			<div id="citationIndent">Code above credit https://developers.google.com/youtube/iframe_api_reference</div>
			<p>
				If you would prefer to use a URL to load the video you can do that with the <code>loadVideoByURL</code>
				function as shown below:
			</p>
			<ul id="indent">
			<li><h4>Argument syntax</h4>
				<code>player.loadVideoByURL(mediaContentUrl:String,</br>
											startSeconds:Number,</br>
											suggestedQuality:String):Void</code></br></li>
			<li><h4>Object syntax</h4>
				<code>player.loadVideoById({mediaContentUrl:String,</br>
											startSeconds:Number,</br>
											endSeconds:Numer,</br>
											suggestedQuality:String}):Void</code></li></br>
			</ul>
			<div id="citationIndent">Code above credit https://developers.google.com/youtube/iframe_api_reference</div>
			<p>
				This function performs the same task as the <code>loadVideoByID</code> function but uses <code>mediaContentUrl
				</code> instead of <code>videoId</code>.  <code>mediaContentUrl</code> specifies a fully qualified YouTube
				player URL in the format <code>http://www.youtube.com/v/VIDEO_ID?version=3</code>.
			</p>
			<h2>Playlists</h2>
			<p>
				The process for loading playlists is very similar to that of individual videos.  The difference is that
				instead of using a singular <code>videoId</code>, playlists use an array of ids.  An example is given
				below:
			</p>
			<ul id="indent">
				<li><h4>Argument syntax</h4>
					<code>player.cuePlaylist(playlist:String|Array,</br>
									inded:Number,</br>
									startSeconds:Number,</br>
									suggestedQuality:String):Void</code></br></br>
					<ul>
						<li><code>playlist</code> specifies an array of YouTube video IDs that the user wishes to load.</li>
						<li>The <code>index</code> parameter is optional and specifies the index of the first video to
						be played.  Keep in mind, that the first video in the array is index 0.</li>
					</ul>
				</li>
				<li><h4>Object syntax</h4>
					<code>player.cuePlaylist({listType:String,</br>
									list:String,</br>
									index:Number,</br>
									startSeconds:Number,</br>
									suggestedQuality:String}):Void</code></br></br>
					<ul>
						<li><code>listType</code> refers to the type of result feed that you wish to retrieve.  The 
						allowable values are <code>playlist</code>, <code>search</code>, and <code>user_uploads</code>
						with the default value being <code>playlist</code>.</li>
						<li>the <code>list</code> property contains a key that is used to identify the particular list
						of videos that YouTube should return.  What the <code>list</code> property refers to changes
						depending on the <code>listType</code> that is being used.  
						<ul>
							<li>If <code>playlist</code> is used, then <code>list</code> will specify either the 
							playlist ID or an array of video IDs.</li>
							<li>If <code>search</code> is used, then <code>list</code> refers to the search query.</li>
							<li>If <code>user_uploads</code> is used, then <code>list</code> identifies the user
							whose uploaded videos will be returned</li>
						</ul>
					</ul>
				</li>
			</ul>	
			<div id="citationIndent">Code above credit https://developers.google.com/youtube/iframe_api_reference</div>			
			<p>
				The <code>cuePlaylist</code> function works like the <code>cueVideoById</code> function in the respect
				that it will not play right away. If you wish to have the playlist begin playing immediatly, the 
				<code>loadPlaylist</code> function uses the same syntax as the <code>cuePlaylist</code> function but
				will start the videos immediatly.
			</p>
			<p>
				Use the table of contents below to jump to the page that you want
			</p>
			<p  id="citation">
				Content derived from YouTube produced documentation found at
				<a href="https://developers.google.com/youtube/">https://developers.google.com/youtube/</a>.
			</p>
		</body>
	</html>